<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sergstas.debtsrecorder">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feature.clientrecords.ui.ClientRecordsActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".feature.clients.ui.ClientsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.edit.ui.EditRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.debts.ui.ConfirmationRemoveActivity"
            android:label="@string/dialogRemove_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".feature.newclient.ui.NewClientActivity"
            android:label="@string/newClient_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".feature.newrecord.ui.NewRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.debts.ui.DebtsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feature.main.ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".feature.newrecord.ui.EmptyDescriptionDialog"
            android:label="@string/newRecord_dialog_title"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
    </application>

</manifest>